<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Name 1</td>
      <td>Description 1</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Name 2</td>
      <td>Description 2</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Name 3</td>
      <td>Description 3</td>
    </tr>
  </tbody>
</table>
