<div id="main-container" class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <table-wrapper>
        <!-- Projected content will be rendered into the table-wrapper component -->
        <h1 class="text-center table-wrapper__title">Content Projection Demo 1</h1>
        <!-- View the template #ref variables used in @ContentChild() in the table-wrapper -->
        <button #primaryButton type="button" class="btn btn-primary table-wrapper__primary_button" (click)="showAlert1()">Show Message</button>
        <button #secondaryButton type="button" class="btn btn-danger table-wrapper__secondary_button" (click)="showAlert2()">Show Another Message</button>


      </table-wrapper>
      <div #alert1 id="alert1" class="alert alert-success" role="alert">
        <h4 class="alert-heading">Show Message Alert</h4>
        <p>First Message.</p>
      </div>
      <div #alert2 id="alert2" class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Show Another message</h4>
        <p>Another Message.</p>
      </div>
    </div>
    <div class="col-sm-6">
      <table-wrapper>
        <!-- Projected content for the second instance of the table-wrapper the table-wrapper component -->
        <h1 class="text-center table-wrapper__title">Content Projection Demo 2</h1>
        <!-- View the template #ref variables used in @ContentChild() in the table-wrapper -->
        <button #primaryButton type="button" class="btn btn-primary table-wrapper__primary_button" (click)="showAlert1()">Change Title</button>
        <button #secondaryButton type="button" class="btn btn-danger table-wrapper__secondary_button" (click)="showAlert3()">Show Different Message</button>
      </table-wrapper>
      <div #alert3 id="alert3" class="alert alert-info" role="alert">
        <h4 class="alert-heading">Show Different Message</h4>
        <p>Different Message.</p>
      </div>

    </div>
  </div>
</div>
