<div class="wrapper">
  <!-- Project the H1 with the .table-wrapper__title class content into the table-wrapper component -->
  <ng-content select=".table-wrapper__title"></ng-content>
  <table-component></table-component>
  <div class="text-center buttons">
      <ng-content select=".table-wrapper__primary_button"></ng-content>
      <ng-content select=".table-wrapper__secondary_button"></ng-content>
  </div>
  <div class="alerts">
      <ng-content select="#alert1"></ng-content>
      <ng-content select="#alert2"></ng-content>
  </div>
</div>
